<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-navigation-drawer permanent>
          <v-toolbar flat>
            <v-list>
              <v-list-tile>
                <v-list-tile-title class="title">
                  Attendees
                </v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-toolbar>
          <v-divider></v-divider>
          <my-breadcrumbs :route-name="$route.name"/>
          <v-list class="pt-0">
            <v-list-tile v-for="item in attendees" :key="item._id" :to="{name: 'Progress', params: {attendeeID: item._id}}">
              <v-list-tile-action>
                <v-icon>{{'person'}}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{item.attendee.name}}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-navigation-drawer>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
import MyBreadcrumbs from './Breadcrumbs'
export default {
  created: function () {
    this.fetchAttendees(this.$route.params.groupID)
  },
  components: {
    MyBreadcrumbs
  },
  data: () => ({
  }),
  methods: {
    fetchAttendees (groupID) {
      this.$store.dispatch('getAttendees', groupID)
    }
  },
  computed: {
    attendees () { return this.$store.state.attendees },
    breadcrumbs () { return this.$store.state.breadcrumbs.slice(0, 3) }
  }
}
</script>
