<template>
  <v-breadcrumbs divider="/">
    <v-breadcrumbs-item v-for="item in breadcrumbs" :key="item.name" :exact="item.exact" :to="item.to" :disabled="item.disabled">
      {{item.name}}
    </v-breadcrumbs-item>
  </v-breadcrumbs>

</template>

<script>
// TODO: Insert read only crumbs with name of selected item
// - selected course / group / attendee
// Dit zou kunnen mbv $route.params,
// alhoewel dan aan de hand van de id's nog wel de namen opgezocht meoten worden.
export default {
  data () {
    return {
      breadcrumbList: [
        { name: 'Courses', to: { name: 'CourseList' }, exact: true },
        { name: undefined },
        { name: 'Groups', to: { name: 'GroupList' }, exact: true },
        { name: undefined },
        { name: 'Attendees', to: { name: 'AttendeeList' }, exact: true },
        { name: undefined },
        { name: 'Registration', to: { name: 'Progress' }, exact: true }
      ]
    }
  },
  computed: {
    // Return breadcrumbs for requested route name
    // Route name is passed in as prop routename
    breadcrumbs () {
      // Find index of route name
      const index = this.breadcrumbList.findIndex(crumb => {
        if (crumb.to) return crumb.to.name === this.routeName
        return false
      })

      // Get crumbs from start untill requested route name
      // NOTE: slice (start, end): end is NOT included => +1
      const crumbs = this.breadcrumbList.slice(0, index + 1)

      // orig.splice(orig.length - 1, 0, { name: this.courseType.name, disabled: true })

      // Filter out crumbs with undefined names
      return crumbs.filter(crumb => crumb.name !== undefined)
    }
  },
  props: {
    routeName: {
      type: String,
      required: true
    }
  }
}
</script>
