<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-navigation-drawer permanent>
          <v-toolbar flat>
            <v-list>
              <v-list-tile>
                <v-list-tile-title class="title">
                  Pick a course
                </v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-toolbar>
          <v-divider></v-divider>
          <my-breadcrumbs :route-name="$route.name" />
          <div class="spinner mt-5" v-if="loading">
            <v-progress-circular indeterminate color="primary"></v-progress-circular>
          </div>
          <v-list class="pt-0">
            <v-list-tile v-for="item in courseTypes" :key="item._id" :to="{name: 'GroupList', params: { courseID: item._id }}">
              <v-list-tile-action>
                <v-icon>{{'dashboard'}}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{item.name}}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-navigation-drawer>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
import MyBreadcrumbs from './Breadcrumbs'
export default {
  components: { MyBreadcrumbs },
  created: function () {},
  computed: {
    courseTypes () { return this.$store.state.courseTypes },
    loading () {
      if (!this.$store.state.courseTypes) return true; return false
    }
  }
}
</script>

<style scoped>
.spinner {
  text-align: center;
}
</style>
