<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-navigation-drawer permanent>
          <v-toolbar flat>
            <v-list>
              <v-list-tile>
                <v-list-tile-title class="title">
                  Pick a group
                </v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-toolbar>
          <v-divider></v-divider>
          <my-breadcrumbs :route-name="$route.name" />
          <v-list class="pt-0">
            <v-list-tile v-for="item in groups" :key="item._id" :to="{name: 'AttendeeList', params: { courseID: $route.params.courseID, groupID: item._id }}">
              <v-list-tile-action>
                <v-icon>{{'people'}}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{item.name}}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-navigation-drawer>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
import MyBreadcrumbs from './Breadcrumbs'
export default {
  created: function () {
    this.fetchGroups(this.$route.params.courseID)
  },
  components: {
    MyBreadcrumbs
  },
  data: () => ({
  }),
  methods: {
    fetchGroups (courseID) {
      this.$store.dispatch('getGroups', courseID)
    }
  },
  computed: {
    groups () {
      return this.$store.state.groups
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
