<template>
  <v-container fluid>
    <my-breadcrumbs :route-name="$route.name"/>
    <v-expansion-panel>
      <v-expansion-panel-content>
        <div slot="header">Stage 1</div>
        <v-card>
          <v-card-text>
            <v-checkbox v-for="item in skills" :key="item._id" :label="item.name" :input-value="item.value" :hint="item.description" :persistent-hint="true"></v-checkbox>
          </v-card-text>
        </v-card>
      </v-expansion-panel-content>
      <v-expansion-panel-content value="true">
        <div slot="header">Stage 2</div>
        <v-card>
          <v-card-text>
            <v-checkbox v-for="item in skills" :key="item._id" :label="item.name" :hint="item.description" :persistent-hint="true"></v-checkbox>
          </v-card-text>
        </v-card>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-container>
</template>

<script>
import MyBreadcrumbs from './Breadcrumbs'
export default {
  components: {
    MyBreadcrumbs
  },
  computed: {
    attendee () { return this.$store.state.attendee },
    skills () { return this.$store.getters.skillReport }
  }
}
</script>
