<template>
  <v-app>
    <v-navigation-drawer fixed v-model="drawer" app>
      <v-list dense>
        <v-list-tile :to="{path: '/'}">
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Home</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="logout">
          <v-list-tile-action>
            <v-icon>fa-sign-out-alt</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            Sign out
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="indigo" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Progress registration</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <router-view></router-view>
    </v-content>
    <v-footer color="indigo" class="pa-3" app >
      <span class="white--text">Yaats</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  created: function () {
    this.fetchCourseTypes()
  },
  data: () => ({
    drawer: false
  }),
  methods: {
    fetchCourseTypes () {
      this.$store.dispatch('getCourseTypes')
    },
    logout () {
      this.$auth.logout({
        makeRequest: false,
        redirect: '/login'
      })
    }
  }
}
</script>
